
body{

    font-family: tenoclock-reg;
    background-image: url("../images/background2.png");
    background-size: 100%;
    position: relative;
}


h1{
    font-size: 100px;
    text-align: center
}

h3
{
    position: fixed;
    top:0;
    right:0;
}

#stats
{
    position:fixed;
    top:200px;
    left:535px;
}
#stats span
{
    margin-top:20px; 
    padding-left:10px; 
    display:block;
}

#sadBanana img
{
    height:500px;
    width:1000px;
    position:fixed;
    top:150px;
    left:100px;
}

@font-face {
    font-family: tenoclock-reg;
    src: url(tenoclock-reg.ttf);
  }