
body{

    font-family: tenoclock-reg;
    background-image: url("../images/background.png");
    background-size: 100% 100%;
    position: relative;
}

html, body{
    min-height: 100%;
  }


  .overlay{
    position: absolute;
    top: 150px;
    left: 500px;
    width: 200px;
    height: 200px;
    z-index: 10;
    background-color: rgba(0,0,0,0); /*dim the background*/
  }


    #startGameButton
    {
        top:50px;
        font-size: 16px;
        left:50px;
        width:100%;
        position: relative;
        display: inline-block;
    }
    
    #topicSelectionButton
    
        {
            top:70px;
            left:50px;
            width:100%;
            position: relative;
            display: inline-block;
            background: rgba(255,255,255,0.8);
            color:navy;     
            font-size: 17px;  
            outline: 0; 
            border-color: #666; 
            border-style: solid;
            border-width: 0 0 2px 0;
            cursor: pointer;
            
        }
    
        #selectionHighlight
        {
            font-size:12px;
        }
#rope{

    width:800px;
    height:400px;
    float:left;
    position: relative;
    top: 60px;
    margin:0px;
}


#hint
{
width:100px;
height:100px;
position: absolute;
}

#stats
{
width:100px;
height:100px;
position:absolute;
top:50;
right:50;
}

#stats span
{
    margin-top:20px; 
    padding-left:10px; 
    display:block;
}
summary
{

outline:none;

}

#optionDiv
{
left:900px;
position: absolute;
height:200px;
width:200px;
}



#blanks
{
font-size:50px;
position: relative;


}

li{
    display:inline;
}

button{

    background-color:transparent;
    background-color:f5fffa;
    width:60px;
    font-family: tenoclock-reg;
    height:25px;
    margin:0.5px;;
    border-style:solid;
    outline:none;
}
@font-face {
    font-family: tenoclock-reg;
    src: url(tenoclock-reg.ttf);
  }

  